<h1>Short Your Url</h1>
<form action="/url/create" method="POST">
    <input type="text" name="url" placeholder="https://www.example.com">
    <input type="submit" value="Submit">
</form>

<%if(locals.id){%>
    <p><a href="http://localhost:3000/url/<%=id%>" target="_blank">http://localhost:3000/<%=id%></a></p>
<%}%>

<% if(locals.allUrl){%>
    <table>
        <thead>
            <th>Serial No.</th>
            <th>Original Url</th>
            <th>Generated Url</th>
            <th>Clicks</th>
        </thead>
        <tbody>
                <%allUrl.forEach((url,index)=>{%>
                    <tr>
                        <td><%=index + 1%></td>
                        <td><%=url.redirectedURL%></td>
                        <td><a href="http://localhost:3000/url/<%=url.shortId%>" target="_blank">localhost:3000/url/<%=url.shortId%></a></td>
                        <td><%=url.visits%></td>
                    </tr>
                <%})%> 
        </tbody>
    </table>
<%}%>
    